<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Assignment 3 - Home</title>
<link type="text/css" href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
<link type="text/css" href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

<div th:replace="header :: header"></div>

<div class="page-container">
	<h1 class="text-center">Home</h1>

	<center>
    	<img src="/images/appcantina.png" alt="Cantina App" width="500" height="300" vspace="40">
	</center>
	
	<div class="text-center">
		<a href="/login" class="btn btn-primary mt-10">Accedi</a>
	</div>
	<div class="text-center red" th:if="${error}" th:text="${message}"></div>
</div>

<div th:replace="footer :: footer"></div>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>-->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script src="/js/jsajax.js" th:href="@{/js/jsajax.js}"></script>

<script>
    document.getElementById('MyCantina').style.visibility = 'hidden';
    document.getElementById('MyFriends').style.visibility = 'hidden';
    document.getElementById('MyFriendsDiv').style.visibility = 'hidden';
</script>
</html>